<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="../public/css/style.scss">
  </head>
  <body>
    <h1>We're learning how to use expres and drink coffee on a side.</h1><br>
    <h4>06/22/2017</h4>
    <a href="/"> --> you are drunk, go home </a>
  </body>
</html>
